@inject ScreenshotrApp App

<div>
  <ul class="list-group">

    <li class="list-group-item">
    <div>
    @foreach (var (year, count) in App.Model.Filter.FilteredYears)
    {
        @if (App.Model.Filter.SelectedYears.Contains(year))
        {
            <span class="badge bg-primary" style="margin-right: 0.2em; cursor: pointer;"
                @onclick="() => App.Dispatch(ScreenshotrApp.MessageType.ToggleSelectedYear, year)"
                >
                <span><i class="bi bi-clock" style="margin-right: 0.3em;"></i>@year (@count)</span>
            </span>
        }
        else
        {
            <span class="badge bg-light text-dark" style="margin-right: 0.2em; cursor: pointer;"
                @onclick="() => App.Dispatch(ScreenshotrApp.MessageType.ToggleSelectedYear, year)"
                >
                <span><i class="bi bi-clock" style="margin-right: 0.3em;"></i>@year (@count)</span>
            </span>
        }
    }
    </div>
    </li>

    <li class="list-group-item">
    <div>
        @foreach (var (user, count) in App.Model.Filter.FilteredUsers)
        {
            @if (App.Model.Filter.SelectedUsers.Contains(user))
            {
                <span class="badge bg-primary" style="margin-right: 0.2em; cursor: pointer;"
                    @onclick="() => App.Dispatch(ScreenshotrApp.MessageType.ToggleSelectedUser, user)">
                    <span><i class="bi bi-person" style="margin-right: 0.3em;"></i>@user (@count)</span>
                </span>
            }
            else
            {
                <span class="badge bg-light text-dark" style="margin-right: 0.2em; cursor: pointer;"
                    @onclick="() => App.Dispatch(ScreenshotrApp.MessageType.ToggleSelectedUser, user)">
                    <span><i class="bi bi-person" style="margin-right: 0.3em;"></i>@user (@count)</span>
                </span>
            }
        }
    </div>
    </li>

    <li class="list-group-item">
    <div>
        @foreach (var (hostname, count) in App.Model.Filter.FilteredHostnames)
        {
            @if (App.Model.Filter.SelectedHostnames.Contains(hostname))
            {
                <span class="badge bg-primary" style="margin-right: 0.2em; cursor: pointer;"
                    @onclick="() => App.Dispatch(ScreenshotrApp.MessageType.ToggleSelectedHostname, hostname)">
                    <span><i class="bi bi-laptop" style="margin-right: 0.3em;"></i>@hostname (@count)</span>
                </span>
            }
            else
            {
                <span class="badge bg-light text-dark" style="margin-right: 0.2em; cursor: pointer;"
                    @onclick="() => App.Dispatch(ScreenshotrApp.MessageType.ToggleSelectedHostname, hostname)">
                    <span><i class="bi bi-laptop" style="margin-right: 0.3em;"></i>@hostname (@count)</span>
                </span>
            }
        }
    </div>
    </li>

        <li class="list-group-item">
            <div>
        @foreach (var (process, count) in App.Model.Filter.FilteredProcesses)
        {
            @if (App.Model.Filter.SelectedProcesses.Contains(process))
            {
                <span class="badge bg-primary" style="margin-right: 0.2em; cursor: pointer;"
                    @onclick="() => App.Dispatch(ScreenshotrApp.MessageType.ToggleSelectedProcess, process)">
                    <span><i class="bi bi-code-square" style="margin-right: 0.3em;"></i>@process (@count)</span>
                </span>
            }
            else
            {
                <span class="badge bg-light text-dark" style="margin-right: 0.2em; cursor: pointer;"
                    @onclick="() => App.Dispatch(ScreenshotrApp.MessageType.ToggleSelectedProcess, process)">
                    <span><i class="bi bi-code-square" style="margin-right: 0.3em;"></i>@process (@count)</span>
                </span>
            }
        }
    </div>
    </li>

    <li class="list-group-item">
    <div>
        @foreach (var (tag, count) in App.Model.Filter.FilteredTags)
        {
            @if (App.Model.Filter.SelectedTags.Contains(tag))
            {
                <span class="badge bg-primary" style="margin-right: 0.2em; cursor: pointer;"
                    @onclick="() => App.Dispatch(ScreenshotrApp.MessageType.ToggleSelectedTag, tag)"
                    >
                    <span>@tag (@count)</span>
                </span>
            }
            else
            {
                <span class="badge bg-light text-dark" style="margin-right: 0.2em; cursor: pointer;"
                    @onclick="() => App.Dispatch(ScreenshotrApp.MessageType.ToggleSelectedTag, tag)"
                    >
                    <span>@tag (@count)</span>
                </span>
            }
        }
    </div>
    </li>

   </ul>  
</div>

@code {

	private void Update() => InvokeAsync(this.StateHasChanged);
    protected override void OnInitialized() => App.OnChange += Update;
    public void Dispose() => App.OnChange -= Update;
}
