@inherits LayoutComponentBase
@inject ScreenshotrApp App
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

<PageTitle>Screenshotr.App</PageTitle>

<div class="page">

   @* <div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        <div class="top-row px-4">
            <div class="container-fluid">
                <div class="row justify-content-between">
                    <div class="col">
                        <Stats />
                    </div>
                    <span class="col text-end" style="font-size:0.75em">
                        @_displayName
                    </span>
                    <div class="col-6 text-end" style="font-size:0.75em">
                        API @App.Model.Version, App @Global.AppVersion
                    </div>
                </div>
            </div>
            @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private string _displayName = "";

    private void Update() => InvokeAsync(this.StateHasChanged);
    protected override void OnInitialized()
    {
        App.OnChange += Update;

        if (httpContextAccessor.HttpContext != null)
        {
            _displayName = httpContextAccessor.HttpContext.Request.Headers["X-Display-Name"];
        }
    }
    public void Dispose() => App.OnChange -= Update;
}