type project
id Screenshotr.Shared
authors Stefan Maierhofer
owners Aardvark Platform Team
projectUrl https://github.com/aardvark-community/screenshotr
licenseUrl https://github.com/aardvark-community/screenshotr/blob/main/LICENSE
repositoryType git
repositoryUrl https://github.com/aardvark-community/screenshotr
include-referenced-projects true
excludeddependencies
    Aardvark.Build
description
    Shared types for screenshotr service.
include-pdbs true